<form class="flexcol {{cssClass}}" autocomplete="off">
    {{#if isOfTypeWeapon}}
        {{> "systems/aranthoz/templates/aranthoz2/parts/weapon.html" ownerRessource=ownerRessource ownerId=ownerId ownerAttributes=ownerAttributes data=data systemData=systemData}}
        Weapon
    {{/if}}
    {{#if isOfTypeSkill}}
        {{> "systems/aranthoz/templates/aranthoz2/parts/skill.html" ownerRessource=ownerRessource ownerId=ownerId ownerAttributes=ownerAttributes data=data systemData=systemData}}
        Skill 
    {{/if}}
    {{#if isOfTypeMisc}}
        {{> "systems/aranthoz/templates/aranthoz2/parts/misc.html" ownerRessource=ownerRessource ownerId=ownerId ownerAttributes=ownerAttributes data=data systemData=systemData}}
        Misc
    {{/if}}
    {{#if isOfTypeConsumable}}
        {{> "systems/aranthoz/templates/aranthoz2/parts/consumable.html" ownerRessource=ownerRessource ownerId=ownerId ownerAttributes=ownerAttributes data=data systemData=systemData}}
        Misc
    {{/if}}
    sheet
</form>
