<section class="tab actions" data-group="primary" data-tab="actions">

    <div class="tab-body">
        <div class="item-section">
            {{!-- Skill Action --}}
            <div class="properties">
                <div class="section-heading borderimg">
                    Skill Action:
                    <input type="text" class="heading-inline-input ml-1" placeholder="Roll Name">
                </div>
                <div class="section-body borderimg-ne">
                    <div class="properties-row">
                        <div class="property">
                            <div class="property-label">Name</div>
                            <input class="property-box name" placeholder="Action Name" name="" value="{{systemData.rollValue}}">
                        </div>
                        <div class="property">
                            <div class="property-label">Key</div>
                            <input class="property-box name" placeholder="Action Key" name="" value="{{systemData.rollValue}}">
                        </div>
                    </div>
                    <div class="properties-row">
                        {{!-- Skill Value --}}
                        <div class="property">
                            <div class="property-label">Roll Value</div>
                            <input class="property-box quantity" placeholder="-" name="system.rollValue" value="{{systemData.rollValue}}">
                        </div>
                        
                        <div class="property">
                            <div class="property-label">Ressource</div>
                            <div class="property-box ">{{ownerRessource}}</div>
                        </div>
        
                        {{!-- Ressource Cost --}}
                        <div class="property">
                            <div class="property-label">Cost</div>
                            <div class="multiple-property">
                                <div class="property-box labeled-property">
                                    <div class="property-inline-label success">Success</div>
                                    <input class="property-box quantity" placeholder="-" name="system.cost.onSuccess" value="{{systemData.cost.onSuccess}}">
                                </div>
                                <i class="fas fa-unlink button inline-text"></i>
                                <div class="property-box labeled-property">
                                    <div class="property-inline-label failure">Failure</div>
                                    <input class="property-box quantity" placeholder="-" name="system.cost.onFailure" value="{{systemData.cost.onFailure}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="properties-row">
                        <div class="property">
                            <div class="property-label">Action Sequences</div>
                            <div class="property-box button _open-action-sequences-sheet" data-actorid="{{ownerId}}" data-itemid="{{data._id}}"><i class="fas fa-edit mgr-1"></i>Edit Action Sequences</div>
                        </div>
                        <div class="property">
                            <div class="property-label">Rolls</div>
                            <div class="property-box button _open-action-rolls-sheet" data-actorid="{{ownerId}}" data-itemid="{{data._id}}"><i class="fas fa-edit mgr-1"></i>Edit Action Rolls</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button _show-actions-info-sheet">Actions Info</div>
</section>