<section class="tab actions" data-group="primary" data-tab="actions">

    <div class="tab-body">
        <div class="item-section">
            {{!-- Skill Action --}}
            <div class="properties">
                <div class="section-heading borderimg">
                    Skill Action:
                    <input type="text" class="heading-inline-input ml-1" placeholder="Roll Name">
                </div>
                <div class="section-body borderimg-ne">
                    <div class="properties-row">
                        {{!-- Ressource Cost --}}
                        <div class="property">
                            <div class="property-label">Cost</div>
                            <div class="multiple-property">
                                <div class="property-box labeled-property">
                                    <div class="property-inline-label success _edit-action-button" data-actionkey="key1">Success</div>
                                    <input class="property-box quantity" placeholder="-" name="system.cost.onSuccess" value="{{systemData.cost.onSuccess}}">
                                </div>
                                <i class="fas fa-unlink button inline-text"></i>
                                <div class="property-box labeled-property">
                                    <div class="property-inline-label failure">Failure</div>
                                    <input class="property-box quantity" placeholder="-" name="system.cost.onFailure" value="{{systemData.cost.onFailure}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button _show-actions-info-sheet">Actions Info</div>
</section>