<form class="flexcol {{cssClass}}" autocomplete="off">
    {{#if data.isOfType.weapon}}
        {{> "systems/aranthoz/templates/aranthoz/item-sheet/item-types/weapon/weapon.html" ownerRessource=ownerRessource ownerId=ownerId ownerAttributes=ownerAttributes data=data systemData=systemData}}
        Weapon
    {{/if}}
    {{#if data.isOfType.skill}}
        {{> "systems/aranthoz/templates/aranthoz/item-sheet/item-types/skill/skill.html" ownerRessource=ownerRessource ownerId=ownerId ownerAttributes=ownerAttributes data=data systemData=systemData}}
        Skill 
    {{/if}}
    {{#if data.isOfType.armor }}
        Armor 
    {{/if}}
    {{#if data.isOfType.wearable}}
        Wearable 
    {{/if}}
    {{#if data.isOfType.ammunition}}
        Ammunition 
    {{/if}}
    {{#if data.isOfType.consumable  }}
        {{> "systems/aranthoz/templates/aranthoz/item-sheet/item-types/consumable/consumable.html" ownerRessource=ownerRessource ownerId=ownerId ownerAttributes=ownerAttributes data=data systemData=systemData}}
        Consumable
    {{/if}}
    {{#if data.isOfType.misc}}
        {{> "systems/aranthoz/templates/aranthoz/item-sheet/item-types/misc/misc.html" ownerRessource=ownerRessource ownerId=ownerId ownerAttributes=ownerAttributes data=data systemData=systemData}}
        Misc
    {{/if}}
    Sheet
</form>
