<header class="item-header">
    <div class="img-container borderimg">
        <img class="profile-img hvr" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
    </div>
    <div class="header-fields">
        <div class="charname borderimg">
            <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
        </div>
        <div class="item-properties">
            <select class="item-rarity legendary">
                <option selected>Legendary</option>
                <option >Epic</option>
                <option >Rare</option>
                <option >Common</option>
            </select>
            <div class="item-type {{data.type}}">{{data.type}}</span></div>
        </div>
    </div>
</header>