<div class="item-header">
    <div class="charname borderimg">
        <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
    </div>
    {{> "systems/aranthoz/templates/aranthoz/item-sheet/item-navigation.html" systemData=systemData}}
    <!-- <div class="item-properties">
        <select class="item-rarity legendary">
            <option selected>Legendary</option>
            <option >Epic</option>
            <option >Rare</option>
            <option >Common</option>
        </select>
        <div class="item-type {{data.type}}">{{data.type}}</span></div>
    </div> -->
</div>