<header class="sheet-header">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
        </h1>
        <div class="resource skill">
            <label>Skill</label>
            {{#if ownerId }}
            <select class="skill-select attribute-dtype">
                <option value=undefined>Kein Link</option>
                {{#each ownerAttributes}}
                <option value="{{this.value}}" {{this.selected}}>{{this.value}}</option>
                {{/each}}
            </select>
            {{ else }}
            <input type="text" name="system.skill" value="{{systemData.skill}}"/>
            {{/if}}
        </div>
    </div>
</header>

{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="Actions">Rolls</a>
</nav>

{{!-- Sheet Body --}}
{{!-- Description Tab --}}
<section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
        {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}
    </div>

    {{!-- Actions Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{!-- Render the rolls --}}
        {{> "systems/aranthoz/templates/aranthoz2/weapon/sheet-roll.html" rolls=systemData.rolls}}

        {{!-- Render the actions --}}
        {{> "systems/aranthoz/templates/aranthoz2/weapon/sheet-action.html" actions=systemData.actions}}
    </div>


</section>
