<form class="flexcol {{cssClass}} actor-sheet"  autocomplete="off">
    <container class="form-container">

        {{!-- Sheet Banner --}}
        <div class="banner-container">
        {{>  "systems/aranthoz/templates/aranthoz/actor-sheet/sheet-banner.html" data=data systemData=systemData}}
        </div>

        {{!-- Sheet Main --}}
        <div class="sheet-main">
            {{!-- Sheet Tab Navigation --}}
            
            {{>  "systems/aranthoz/templates/aranthoz/actor-sheet/sheet-navigation.html" }}

            {{!-- Sheet Body --}}

            <section class="sheet-body">
                {{!-- Character Tab --}}
                <section class="tab character" data-group="primary" data-tab="character">
                    {{> "systems/aranthoz/templates/aranthoz/actor-sheet/character-tab.html" data=data origin=origin}}
                </section>

                {{!-- Attributes Tab --}}
                <section class="tab attributes"  data-group="primary" data-tab="attributes">
                    {{> "systems/aranthoz/templates/aranthoz/actor-sheet/attributes-tab.html" groups=systemData.groups data=data}}
                </section>

                {{!-- Skills Tab --}}
                <section class="tab skills" data-group="primary" data-tab="skills">
                    {{!-- Render Skill Items Table --}}
                    {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" headerName="" items=(lookup data.itemCollection 'skill') itemType="skill" actorId=data._id }}
                </section>

                {{!-- Armory Tab --}}
                <section class="tab gear" data-group="primary" data-tab="gear">
                    <div class="item-tables">
                        {{!-- Render Weapon Items Table --}}
                        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" headerName="Weapons" items=(lookup data.itemCollection 'weapon') itemType="weapon" actorId=data._id }}

                        {{!-- Render Ammunition Items Table--}}
                        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" headerName="Ammunition" items=(lookup data.itemCollection 'ammunition') itemType="ammunition" actorId=data._id }}

                        {{!-- Render Armor Items Table --}}
                        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" headerName="Armor" items=(lookup data.itemCollection 'armor') itemType="armor" actorId=data._id }}

                        {{!-- Render Wearable Items Table--}}
                        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" headerName="Wearables" items=(lookup data.itemCollection 'wearable') itemType="wearable" actorId=data._id }}
                    </div>
                </section>

                {{!-- Inventory Tab --}}
                <section class="tab inventory" data-group="primary" data-tab="inventory">
                    <div class="item-tables">
                        {{!--  Render Consumable Item Table --}}
                        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" items=(lookup data.itemCollection 'consumable') headerName='Consumables' itemType="consumable" actorId=data._id }}
    
                        {{!-- Render Ingredient Items Table --}}
                        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" items=(lookup data.itemCollection 'ingredient') headerName='Ingredients' itemType="ingredient" actorId=data._id }}
                        
                        {{!-- Render Document Items Table --}}
                        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" items=(lookup data.itemCollection 'document') headerName='Documents' itemType="document" actorId=data._id }}
    
                        {{!-- Render Misc Item Table --}}
                        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item-table.html" items=(lookup data.itemCollection 'misc') headerName='Miscellaneous' itemType='misc' actorId=../data._id }}                    
                    </div>
                </section>
            </section>
        </div>
    </container>
</form>
<script type="text/javascript">
    // var x=document.getElementById("input");
    // if (!x.value.length <= 12) {
    //     x.style.fontSize= 43 - x.value.length + "px";
    // }       
    function myFunction(){
        var x=document.getElementById("input");
        if (x.value.length <= 12) {
            x.style.fontSize="34px"
            return
        }
        var initialSize=43-x.value.length;
        initialSize=initialSize<=10?10:initialSize;
        x.style.fontSize=initialSize + "px";
    }
    myFunction()
</script>
