<!-- HB Props: items, itemType, itemClass, headerName, actorId -->
<div class="item-table content-container">
    {{#if headerName}} <!-- If a header name is given, render a header with an "add item" for the table. If no header name is given, render a single "add item" button at the bottom of the table-->
    <div class="header borderimg-ne">
        <div class="table-header-controls"><a class="add item-control" data-action="create" item-type="{{itemType}}" misc-item-class="{{itemClass}}"><i class="material-symbols-outlined">add</i></a></div>
        <div class="table-header-label">{{headerName}}</div>
        <div class="table-header-label"></div>
    </div>
    {{/if}}
    <ul class="item-list">
        {{#each items as |item id|}}
        {{> "systems/aranthoz/templates/aranthoz/actor-sheet/item.html" item=item actorId=../actorId}}
        {{/each}}
    </ul>
    {{#unless headerName}} <!-- If no header name is given, render an "add item" button-->
    <a class="itemAddButton item-control borderimg-ne" data-action="create" item-type="{{itemType}}"><span class="material-symbols-outlined">add</span></a>                       
    {{/unless}}
</div>