<aside class="sheet-banner">
    <div class="banner-body">
        <div class="banner-logo-container">
            <section class="banner-logo">
                <input name="name" id="input" class="logo-name" onkeyup="myFunction()" value="{{data.name}}">
            </section>
        </div>
        <div class="banner-tiles-container">
            <div class ="banner-tiles">
                <section class="banner-tile health">
                    <div class="banner-tile-content hp ">
                        <input class="banner-tile-content-value" name="system.health.value" value="{{systemData.health.value}}">
                        <div class="banner-tile-content-label">HP</div>
                    </div>
                    <div class="banner-tile-content max-hp">
                        <input class="banner-tile-content-value" name="system.health.max" value="{{systemData.health.max}}">
                        <div class="banner-tile-content-label">Max-HP</div>
                    </div>
                </section>
                <section class="banner-tile defenses">
                    <div class="banner-tile-content armor">
                        <input class="banner-tile-content-value" value="17.5">
                        <div class="banner-tile-content-label">Armor</div>
                    </div>
                    <div class="banner-tile-content shield">
                        <input class="banner-tile-content-value" value ="0">
                        <div class="banner-tile-content-label">Shield</div>
                    </div>
                </section>
                <section class="banner-tile ressources">
                    <div class="banner-tile-content mana">
                        <input class="banner-tile-content-value" name="system.power.value" value="{{systemData.power.value}}">
                        <div class="banner-tile-content-label">{{#if isMage}}Mana{{else}}Stamina{{/if}}</div>
                    </div>
                    <div class="banner-tile-content stamina">
                        <input class="banner-tile-content-value" name="system.power.max" value="{{systemData.power.max}}">
                        <div class="banner-tile-content-label">Max-{{#if isMage}}Mana{{else}}Stamina{{/if}}</div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</aside>