

    
    body {
        margin: 0;
        font-family: "Eczar";
    }

    @font-face {
        font-family: 'Eczar';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/eczar/v17/BXR2vF3Pi-DLmxcpJB-qbNTyTMDXHd6mrjgUC2daW2wr.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }


.aranthoz{
    @dark-text-color: #272727;
    @warm-text-color: rgb(251, 231, 207);
    @light-text-color: aliceblue;;
    margin: 0;
    font-family: "Eczar";
    
    .window-content {
        color: @dark-text-color;
        padding: 0px;
    }
    
    .form-container {
        transform: translate(-15px);
        display: block;
        height: 100%;
        width: 100%;
        display: flex;

        // background-image: url(https://demo.foundryvtt.com/ui/parchment.jpg);
        // background-repeat: repeat;
    }
    
    .actor-sheet {
        /* Actor Sheet Banner*/
        .banner-container {
            flex: 0 0 200px;
            background-image: 
                url(../assets/banner/banner-bottom.png);
            background-size: 230px 130px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: bottom;
            height: calc(100% );
            min-height: 60px;
            max-height: 620px;
            /* background-color: red; */

            .sheet-banner {
                background-image: url(../assets/banner/banner-body.png);
                background-size: 230px;
                background-repeat: repeat-y;
                background-position-x: center;
                width: 100%;
                height: calc(100% - 128px);
                /* background-color: red; */
                display: flex;
                justify-content: center;
                overflow: hidden;
        
                .banner-logo-container {
                    width: 100%;
                    height: 120px;
                    display: flex;
                    justify-content: center;
                    white-space: nowrap;
                    .banner-logo {
                        background-image: url(../assets/banner/banner-nameplate.png);
                        background-size: 300px;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 300px;
                        height: 140px;
                        flex-grow: 1;
                        display:flex;
                        justify-content: center;
                    }
                
                    .logo-name {
                        font-size: 34px;
                        margin-top: 33px;
                        width: 85%;
                        height: 47px;
                        color: rgb(242, 231, 208);
                        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
                    }
                }    
            
                .banner-body {
                    // min-height: 400px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .banner-tiles-container {
                        margin-top: 40px;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        .banner-tiles {
                            display: flex;
                            flex-direction: column;
                            width: 170px;
                        }
                    
                        .banner-tile {
                            width: 170px;
                            height: 70px;
                            overflow: hidden;
                    
                            display: flex;
                            justify-content: center;
                            gap:20px;
                            margin-bottom:10px;
                            
                        }
                    
                        .banner-tile-content {
                            width: 70px;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                    
                            background-color: rgba(49, 49, 49, 0);
                            border-radius: 9px;
                            box-shadow: inset 0px 0px 20px #000000cb;
                        }
                        .banner-tile-content-value {
                            margin-top: 8px;
                            height: 40px;
                            font-size: 28px;
                            color: rgb(255, 248, 232);
                            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
                        }

                        .max {
                            margin-top: 2px;
                            margin-bottom: 6px;
                            color: rgb(255, 234, 184);
                            text-shadow: inset 2px 2px 2px black;
                        }
                    
                        .banner-tile-content-label {
                            font-size: 11px;
                            color: rgb(223, 207, 177);
                            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }
        }

        /* Actor Sheet Main*/
        .sheet-main {
            width: 100%;
            min-width: 600px;
            height: 100%;
            /*background-color: rgb(51, 90, 173);*/
            overflow-x: hidden;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .body-nav {
            margin-top: 20px;
            flex: 0 0 60px;
            background-image: url(../assets/banner/banner-body.png);
            background-size: 1000px;
            min-width: 550px;
            background-position: center;
            box-shadow: inset 0px 0px 20px #000000cb;
            box-shadow: 0px 3px 8px #000000cb;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .nav-link {
                text-align: center;
                margin-left:18px;
                margin-right: 18px;
                color: rgb(255, 248, 232);
                font-size: 18px;
                text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
    
            }
            .active {
                text-decoration: underline;
            }
        }   
        .sheet-body {
            flex: 1 0px;
            background-color: rgba(240, 248, 255, 0);
            width: 90%;
            border: 10px;
            overflow-x: hidden;
            overflow-y: auto;
            margin-bottom: 20px;
        }

        .content {
            width: 100%;
            margin-top: 20px;
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    
        .portrait-column {
            flex: 0 0 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .heritage-column {
            flex:1;
            display: flex;
            flex-direction: column;
            gap: 18px;
        }
        .physical-column {
            flex:1;
            display: flex;
            flex-direction: column;
            gap: 18px;
        }
        .section-divider {
            height: 40px;
            width: 100%;
            background-size: 100% 37px;
            background-repeat: no-repeat;
        }
        .character-label {
            color: #63160c;
            font-weight:700;
        }
        .basic-input {
            padding-left: 7px;
            width: 100%;
            background-color: rgba(161, 144, 124, 0.215);
            box-shadow: 0px 2px 0px rgba(88, 13, 4, 0.426);
            color: rgb(40, 40, 40);
            border-radius: 1px;
            text-align: left;
            font-size: 18px;
        }
        .basic-input:focus {
            box-shadow: 0px 2px 0px rgba(88, 12, 4, 0.79);
    
        }
        .inline-input {
            width: 100%;
            box-shadow: 0px 2px 0px rgba(88, 13, 4, 0.426);
            color: #272727;
            border-radius: 1px;
            text-align: left;
            font-size: 18px;
            font-weight: bolder;
        }
        .inline-input:focus {
            box-shadow: 0px 2px 0px rgba(88, 12, 4, 0.79);
    
        }
        .basic-select {
            width: 100%;
            height: 35px;
            background-color: rgba(161, 144, 124, 0.215);
            box-shadow: 0px 2px 0px rgba(88, 13, 4, 0.426);
            color: rgb(40, 40, 40);
            border-radius: 1px;
            border: none;
            text-align: left;
            font-size: 18px;
        }

        .description {
            display: block;
            width: 100%;
            overflow:visible;

            .editor {
                height: 100%;
                min-height: 70px;
                width: 100%;
                overflow:visible;
            }
            
            .editor-content {
                height: 100%;
                width: 100%;
                overflow:visible;
            }
        }
    }

    .actor-sheet,
    .item-sheet {
        .item-tables {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .item-table {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .header {
                width: 100%;
                height: 38px;
                margin-bottom: 10px;
    
                /* background-image: url(./assets/banner_vertical_stacked2.png);
                background-size: 130%;
                background-position: center; */
                background-color: #ffffff85;
    
                display:flex;
                justify-content: center;
                align-items: center;
    
                
                .header-label {
                    color: #353535;
                    font-size: 20px;
                    flex: 1;
                    text-align: center;
                }
                .header-controls {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    overflow: visible;
                    .add, 
                    .delete {
                        height: 32px;
                        width: 32px;
                        // transform: translateY(1px);
    
                        i {
                            transition: .1s;
                        }
                        
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        overflow: hidden;
                        
                        .bg {
                            z-index: -1;
                            height: 100%;
                            width: 32px;
                            position:absolute;
                            transition: .2s ease-out;
                            // border-top-right-radius: 3px;
                            // border-bottom-right-radius: 3px;
                        }
                        
                        .bg::before {
                            content: " ";
                            display: block;
                            height: 100%;
                            width: 100%;
                            background-color: #63160cd8;
                        }
                    }
    
                    .add {
                        transform: translateX(-7px);

                        .bg {
                            transform: translateX(-32px);
                        }
                    }

                    .delete {
                        margin-left: auto;
                        transform: translateX(7px);
                        
                        .bg {
                            transform: translateX(32px);
                        }
                    }

                    .add:hover .bg, .delete:hover .bg {
                        transform: translateX(0px);
                    }
    
                    .add:hover i, .delete:hover i {
                        color: rgb(253, 251, 244);;
                    }
                }
            }
            .item-list{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 15px;
                
                .item {
                    background-color: rgba(161, 144, 124, 0.215);
                    box-shadow: 0px 2px 0px rgb(154, 119, 116);
                    height: 37px;
                    display: flex;
                    align-items: center;
                    border-radius: 3px;

                    .attribute-info {
                        align-items: center;
                        flex: 1;
                        display: flex;
                        gap: 10px;

                        .name-input,
                        .value-input,
                        .key-input {
                            height: 100%;
                            color: rgb(40, 40, 40);
                            font-size: 20px; 
                            border-top-right-radius: 3px;
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 0px;
                            border-bottom-right-radius: 0px;
                        }
                        .name-input {
                            width: 50%;
                            text-align: left;
                            padding-left: 10px;
                        }
                        
                        .value-input {
                            width: 20%;
                            min-width: 55px;
                        }

                        .key-input {
                            width: 30%;
                            min-width: 80px;
                        }
                        .value-input,
                        .key-input {
                            background-color: rgba(161, 144, 124, 0.215);
                            text-align: center;
                        }
                        input:focus::placeholder {
                            color: rgb(226, 224, 217);;
                        }
                        input:focus {
                            color: rgb(253, 251, 244);;
                            background-color: #63160cbe;
                        }
                        // input:hover {
                        //     transition: 0.2s;
                        //     background-color: rgba(107, 20, 10, 0.586);
                        //     background-color: rgba(107, 96, 82, 0.288);
                        //     // color: rgb(253, 251, 244);
                        // }
                    }
                    
                    .item-info {
                        align-items: center;
                        flex: 1;
                        display: flex;
                        img {
                            border: none;
                            border-radius: 3px;
                            border-bottom-right-radius: 0px;
                            border-top-right-radius: 0px;
                            height: 100%;
                        }
                        .item-name {
                            height: 100%;
                            margin: 0;
                            flex:1;
                            padding-left: 10px;
                            // box-shadow: 0px 2px 0px rgba(88, 13, 4, 0.426);
                            color: rgb(40, 40, 40);
                            text-align: left;
                            font-size: 20px;
                            margin-right: 5px;
                        }
                    }
                    .roll-svg {
                        fill:#63160c
                    }
                    .roll-svg:hover{
                        animation: rollingDice .8s infinite ease-in-out;
                        animation-timing-function: linear;
                        animation-fill-mode: backwards;
                    }
                    @keyframes rollingDice {
                        from {tranform: rotate(0deg)}
                        to {transform: rotate(360deg)}
                    }
                    .item-button {
                        border-top-right-radius: 3px;
                        border-top-left-radius: 3px;
                        height: 100%;
                        width: 38px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 10px; 
                    }
                    .item-button:hover{
                        transition: 0.2s;
                        background-color: rgba(107, 20, 10, 0.756);
                        color: rgb(253, 251, 244);
                    }
                    .roll-button {
                        margin-left: 10px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    
                    }
    
                    .item-count {
                        height: 100%;
                        display:flex;
                        gap: 10px;

                        .count-button {
                            background-color: rgba(161, 144, 124, 0.215);
                            color: rgb(40, 40, 40);
                            text-align: center;
                            font-size: 20px; 
                            border-top-right-radius: 3px;
                            border-top-left-radius: 3px;
                            height: 100%;
                            width: 38px;
                        }
                        .count-button:hover{
                            transition: 0.2s;
                            background-color: rgba(107, 20, 10, 0.756);
                            color: rgb(253, 251, 244);
                        }
                        .count-display {
                            background-color: rgba(161, 144, 124, 0.215);
                            color: rgb(40, 40, 40);
                            font-size: 20px; 
                            text-align: center;
                            font-size: 20px; 
                            border-top-right-radius: 3px;
                            border-top-left-radius: 3px;
                            height: 100%;
                            min-width:60px;
                            padding-left: 6px;
                            padding-right: 6px;
                        }
                    }
                }
                .item:last-child:hover{
                    border-bottom-right-radius: 3px;
                }
                .item:hover {
                    box-shadow: 0px 2px 0px rgb(136, 33, 21);
                }
            }
            .content-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                flex-direction: column;
            }
        }
    
    
        .attribute-control {
            .delete {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .item-add-button {
            width: 60px;
            height: 30px;
            background-color: #ffffff85;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .add-group-button {
            color: #52120a;
            height: 30px;
            background-color: #ffffff85;
            display:flex;
            flex: 0;
            justify-content: center;
            align-items: center;
        }
    }


    /* ITEM SHEET STYLING */
    .item-sheet {
        min-width: 470px;
        height: 100%;
        overflow-y: hidden;
        position: relative;

        .dragbg {
            position:absolute;
            width: 100%;
            height: 100%;
            background-color: #141414b3;
            z-index: 10;
            backdrop-filter: blur(5px);
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0 0 100px black;
            
            .drop-heading {
                font-size: 40px;
                margin-top: auto;
                margin-bottom: auto;
                text-align: center;
                color: rgb(254, 250, 239);
                text-shadow: 2px 2px #272727;
            }

        }

        .drag-over {
            display: flex;
        }
        .sheet-content {
            height: 100%;
            width: 100%;
            padding: 5px;
            display: flex;
            flex-direction: column;
        }



        .item-header {
            width: 100%;
            height: 120px;
            display: flex;
            margin-bottom: 10px;
            gap:10px;
            
            .img-container {
                height: 120px;
                width: 120px;
                flex: 0 0 120px;
                overflow:visible;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #27272728;
                position: relative;
                z-index: 1;

                .profile-img {
                    width: 114px;
                    height: 114px;
                    border-style: none;
                    position: absolute;
                    max-width: unset;
                    z-index: -1;
                }
            }
            
            .nav-container {
                flex: 1;
                height: 120px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .charname {
                    width: 100%;
                    height: 65px;
                    background-color: #ffffff85;
                    font-family: "Eczar", serif;
                    
                    input {
                        width: 100%;
                        height: 100%;
                        font-size: 30px;
                    }
                }
                
                .item-nav {
                    width: 100%;
                    height:45px;
                    background-image: url(../assets/banner/banner-body.png);
                    background-size: 1000px;
                    background-position: center;
                    box-shadow: 0px 0px 2px #000000cb;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: visible;
            
                    .nav-link {
                        text-align: center;
                        margin-left:18px;
                        margin-right: 18px;
                        color: rgb(255, 248, 232);
                        font-size: 16px;
                        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);    
                    }
                    .active {
                        color: rgb(254, 250, 239);
                        text-decoration: underline;
                    }
                }

            }

        }
        .item-section {
            display: flex;
            flex-direction: column; 
            .section-heading {
                display: flex;
                height: 38px;
                font-size: 20px;
    
                /* background-image: url(./assets/banner_vertical_stacked2.png);
                background-size: 130%;
                background-position: center; */
                background-color: #ffffff85;
    
                display:flex;
                align-items: center;
                margin-bottom: 5px;

                .heading-inline-input {
                    flex: 1;
                    text-align: left;

                }

            }
            .section-body {
                flex: 0 0 auto;
                transform: translateY(-5px);
                display:flex;
                flex-direction: column;
                gap: 15px;
                border-top: none;
                margin-inline: 10px;
                padding: 3px;
                padding-top: 10px;
                background-color: #d2d2d256;
                
                .sequence {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 5px;

                    .sequence-header {
                        display: flex;
                        font-size: 14px;
                        color: #52120a;
                        border-bottom: 1px solid #52120a;
                    }
                }
                .sequence-elements {
                    width: 100%;
                    height: 33px;
                    // background-color: #0000000f;
                    border-radius: 3px;
                    display: flex;
                    gap: 10px;

                    .composite-element {
                        display: flex;
                        flex: 0 0 auto;
                        gap: 0px;
                        border-radius: 5px;
                        box-shadow: 0px 0px 3px -1px #1e1e1e6d;
                    } 
                    .element {
                        height: inherit;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .composite-label {
                        padding-inline: 5px;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        background-color: #ffffff85;
                    }
                    .composite-select {
                        border: none;
                        box-shadow: none; 
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 5px;
                        border-top-right-radius: 5px;
                        background-color: #fffdf93c;
                    }
                }
                
                .properties-row {
                    width: 100%;
                    flex: 0 0 auto;
                    transform: translateY(-5px);
                    display:flex;
                    gap: 25px;
                    border-top: none;

                    .property {
                        flex: 0 0 auto;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        
                        .inline-text {
                            margin-top: auto;
                            margin-bottom: auto;

                        }

                        .composite-journal-button {
                            display: flex;
                            height: 32px;
                            box-shadow: 0px 0px 3px -1px #1e1e1e6d;
                            text-shadow: 0.5px 0.5px 0.5px #1e1e1e6d;
                            border-radius: 3px;
                            // box-shadow: 0px 4px 0px #4a0b03b1;
                            font-size: 18px;
                            .open-journal-button {
                                display: flex;
                                align-items: center;
                                padding-inline: 8px;
                                color: rgb(253, 251, 244);
                                position: relative;
                                overflow: hidden;
                                border-bottom-right-radius: 3px;
                                border-top-right-radius: 3px;
                            }
                            .unlink-journal-button {
                                display: flex;
                                align-items: center;
                                color: rgb(253, 251, 244);
                                padding-inline: 5px;
                                border-bottom-left-radius: 3px;
                                border-top-left-radius: 3px;
                            }
                            .open-journal-button-active {
                                background-color: #841608b1;
                            }
                            .open-journal-button-inactive {
                                background-color: #70332a9d;
                            }
                            .open-journal-button-active:hover {
                                transition: .2s;
                                background-color: #6b2a21d9;
                                background-color: #531006c2;
                            }

                        }
                        // .composite-journal-button:active {
                        //     transform: translateY(2px);
                        //     // transition: .07s;
                        //     box-shadow: none;
                        // }
                        .property-box {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            height: 32px;
                            padding-inline: 5px;
                            border-radius: 3px;
                            color: aliceblue;
                            box-shadow: 0px 0px 3px -1px #1e1e1e6d;
                            text-shadow: 0.5px 0.5px 0.5px #1e1e1e6d;
                            font-size: 18px;

                        }
                        .name {
                            text-align: left;
                            background-color: #0000000f;
                            color: #272727;
                            width: 200px;
                        }
                        .name::after {
                        }
                        
                        
                        .multiple-property {
                            display: flex;
                            gap: 10px;
                        }

                        .property-label {
                            font-weight: bold;
                            color: #63160c;
                        }
                        .labeled-property {
                            padding-inline: 0px;
                            .property-box {
                                border-top-left-radius: 0px;
                                border-bottom-left-radius: 0px;
                                box-shadow: none; 
                            }
                            .property-inline-label {
                                color: rgb(253, 251, 244);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                border-top-left-radius: 3px;
                                border-bottom-left-radius: 3px;
                                padding-inline: 5px;
                            }
                            .success {
                                background-color:#0d710051;
                            }
                            .failure {
                                background-color: #8e110090;
                            }
                        }
                        .item-rarity {
                            // padding-top: 3px;
                            // padding-bottom: 3px;

                            border: none;
                        }
                        .legendary {
                            background-color:#b4660080;
                        }
                        .epic {
                            background-color:#7930a080;
                        }
                        .rare {
                            background-color:#0355ba73;
                        }
                        .common {
                            background-color:#7d7d7d80;
                        }

                        .item-type {
                            // padding-top: 3px;
                            // padding-bottom: 3px;
                            text-align: center;
                            margin-right: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .weapon {
                            background-color:#9d000051;
                        }
                        .skill {
                            background-color:#c5310051;
                        }
                        .armor{
                            background-color:#9b9b9b51;
                        }
                        .wearable {
                            background-color:#009d8d51;
                        }
                        .ammunition {
                            background-color:#9d510051;
                        }
                        .consumable {
                            background-color:#129d0051;
                        }
                        .ingredient {
                            background-color:#59009d51;
                        }
                        .document {
                            background-color:#9d004151;
                        }
                        .misc {
                            background-color:#9a9d0051;
                        }

                        .quantity {
                            background-color: #0000000f;
                            color: #272727;
                            width: 70px;
                        }
                        .quantity-count {
                            background-color: #0000000f;
                            color: #272727;
                            width: 32px;
                            text-align: center;
                        }
                        .quantity-count:hover {
                            background-color:#71180db4;
                            color: rgb(253, 251, 244);
                            transition: .2s;
                        }
                        .stack{
                            background-color: #0000000f;
                            color: #272727;
                        }

                    }
                }
                .properties-row::before {
                        content: "";
                        position: absolute;
                        top: 27px;
                        width: 100%;
                        border-bottom: 1px solid #70180c;
                }
            }
        }
        .properties {
            display: flex;
            flex-direction: column;
        }

        .properties-container::before {
                content: "";
                position: absolute;
                top: 27px;
                width: 100%;
                border-bottom: 1px solid #70180c;
                
        }
        .Common {

        }

        .properties-container {
            overflow: hidden;
            flex: 0 0 auto;
            transform: translateY(-5px);
            display:flex;
            gap: 25px;
            border-top: none;
            margin-inline: 10px;
            padding: 3px;
            background-color: #d2d2d256;

            .property {
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                .inline-text {
                    margin-top: auto;
                    margin-bottom: auto;

                }

                .composite-journal-button {
                    display: flex;
                    height: 32px;
                    box-shadow: 0px 0px 3px -1px #1e1e1e6d;
                    text-shadow: 0.5px 0.5px 0.5px #1e1e1e6d;
                    font-size: 18px;
                    .open-journal-button {
                        display: flex;
                        align-items: center;
                        padding-inline: 8px;
                        color: rgb(253, 251, 244);
                        position: relative;
                        overflow: hidden;
                        border-bottom-right-radius: 3px;
                        border-top-right-radius: 3px;
                    }
                    .unlink-journal-button {
                        display: flex;
                        align-items: center;
                        color: rgb(253, 251, 244);
                        padding-inline: 5px;
                        border-bottom-left-radius: 3px;
                        border-top-left-radius: 3px;
                    }
                    .open-journal-button-active {
                        background-color: #841608b1;
                    }
                    .open-journal-button-inactive {
                        background-color: #70332a9d;
                    }
                    .open-journal-button-active:hover {
                        transition: .2s;
                        background-color: #6b2a21d9;
                        background-color: #531006c2;
                    }
                }

                .property-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 32px;
                    padding-inline: 5px;
                    border-radius: 3px;
                    color: aliceblue;
                    box-shadow: 0px 0px 3px -1px #1e1e1e6d;
                    text-shadow: 0.5px 0.5px 0.5px #1e1e1e6d;
                    font-size: 18px;
                }
                
                
                .multiple-property {
                    display: flex;
                    gap: 10px;
                }

                .property-label {
                    color: #63160c;
                }
                .labeled-property {
                    padding-inline: 0px;
                    .property-box {
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                        box-shadow: none; 
                    }
                    .property-inline-label {
                        color: rgb(253, 251, 244);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                        padding-inline: 5px;
                    }
                    .success {
                        background-color:#0d710051;
                    }
                    .failure {
                        background-color: #8e110090;
                    }
                }
                .item-rarity {
                    // padding-top: 3px;
                    // padding-bottom: 3px;

                    border: none;
                }
                .legendary {
                    background-color:#b4660080;
                }
                .epic {
                    background-color:#7930a080;
                }
                .rare {
                    background-color:#0355ba73;
                }
                .common {
                    background-color:#7d7d7d80;
                }

                .item-type {
                    // padding-top: 3px;
                    // padding-bottom: 3px;
                    text-align: center;
                    margin-right: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .weapon {
                    background-color:#9d000051;
                }
                .skill {
                    background-color:#c5310051;
                }
                .armor{
                    background-color:#9b9b9b51;
                }
                .wearable {
                    background-color:#009d8d51;
                }
                .ammunition {
                    background-color:#9d510051;
                }
                .consumable {
                    background-color:#129d0051;
                }
                .ingredient {
                    background-color:#59009d51;
                }
                .document {
                    background-color:#9d004151;
                }
                .misc {
                    background-color:#9a9d0051;
                }

                .quantity {
                    background-color: #0000000f;
                    color: #272727;
                    width: 70px;
                }
                .quantity-count {
                    background-color: #0000000f;
                    color: #272727;
                    width: 32px;
                    text-align: center;
                }
                .quantity-count:hover {
                    background-color:#71180db4;
                    color: rgb(253, 251, 244);
                    transition: .2s;
                }
                .stack{
                    background-color: #0000000f;
                    color: #272727;
                }

            }
        }

        .sheet-body {
            width: 100%;
            flex: 1 0px;
            display: flex;
            overflow-x: hidden;
            overflow-y: scroll;
            flex-direction: column;

            .tab-body {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .general {
                width: 100%;
                min-height: 150px;

                .heading {
                    height: 38px;
                    font-size: 20px;
        
                    /* background-image: url(./assets/banner_vertical_stacked2.png);
                    background-size: 130%;
                    background-position: center; */
                    background-color: #ffffff85;
        
                    display:flex;
                    align-items: center;
                    margin-bottom: 5px;
                }
                .description {
                    display: block;
                    overflow:visible;
                    .editor {
                        margin-top: -17px;
                        height: 100%;
                        min-height: 70px;
                        width: 100%;
                        overflow:visible;
                        
                        .editor-menu {
                            transform: translateY(10px);
                        }

                        .editor-content {
                            height: 100%;
                            width: 100%;
                            overflow:visible;
                            position: unset;
                        }
                    }
                    
                }
                .options {
                    width: 100%;
                    .option {
                        font-size: 16px;
                        // color: @light-text-color;
                        width: 100%;
                        background-color: rgba(161, 144, 124, 0.4);
                        border-radius: 5px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                    }
                }
                .item-description {

                }
            }
        }
    }

    .isDisabled {
        cursor:not-allowed;
        background-color: #272727;
    }

    .divider {
        height: 0px;
        border-top: 1.5px solid rgb(137, 93, 0);
        margin-bottom: 10px;
    }
    .borderimg {
        border: 10px solid transparent;
        border-image: url(../assets/nav_borderimg.png) 12 round;
        box-shadow:  0px 0px 2px;
    }
    .borderimg-ne {
        box-shadow:  0px 0px 2px;
        border: 10px solid transparent;
        border-image: url(../assets/nav_borderimg_ne.png) 12 round;
    }

    .nohvr:hover {
        all:unset;
    }
    input {
        -moz-background-clip: text;
        background-clip: text;
        background-color: rgba(0, 0, 0, 0);
        outline:none;
        border: none;
        text-align: center;
        font-family: "Eczar";
        box-shadow: none;
    }

    input:focus{
        box-shadow: none;
    }

    .button:hover{
        cursor: pointer;
        user-select: none;
    }
    .selected {
        text-decoration: underline;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .journal-folder-list {
        .option-label {
            padding-left: 10px;
            font-size: 16px;
        }
    }
    .mgr-1 {
        margin-right: 9px;
    }
    .mt-2 {
        margin-top: 15px
    }
    .ml-1 {
        margin-left: 9px;
    }
    .ml-a {
        margin-left: auto;
    }
}
