body {
  margin: 0;
  font-family: "Eczar";
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/eczar/v17/BXR2vF3Pi-DLmxcpJB-qbNTyTMDXHd6mrjgUC2daW2wr.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.aranthoz {
  margin: 0;
  font-family: "Eczar";
  /* ITEM SHEET STYLING */
}
.aranthoz .window-content {
  color: #272727;
  padding: 0px;
}
.aranthoz .form-container {
  transform: translate(-15px);
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
}
.aranthoz .actor-sheet {
  /* Actor Sheet Banner*/
  /* Actor Sheet Main*/
}
.aranthoz .actor-sheet .banner-container {
  flex: 0 0 200px;
  background-image: url(../assets/banner/banner-bottom.png);
  background-size: 230px 130px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  height: calc(100%);
  min-height: 60px;
  max-height: 620px;
  /* background-color: red; */
}
.aranthoz .actor-sheet .banner-container .sheet-banner {
  background-image: url(../assets/banner/banner-body.png);
  background-size: 230px;
  background-repeat: repeat-y;
  background-position-x: center;
  width: 100%;
  height: calc(100% - 128px);
  /* background-color: red; */
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-logo-container {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-logo-container .banner-logo {
  background-image: url(../assets/banner/banner-nameplate.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 140px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-logo-container .logo-name {
  font-size: 34px;
  margin-top: 33px;
  width: 85%;
  height: 47px;
  color: #f2e7d0;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-body .banner-tiles-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-body .banner-tiles-container .banner-tiles {
  display: flex;
  flex-direction: column;
  width: 170px;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-body .banner-tiles-container .banner-tile {
  width: 170px;
  height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-body .banner-tiles-container .banner-tile-content {
  width: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(49, 49, 49, 0);
  border-radius: 9px;
  box-shadow: inset 0px 0px 20px #000000cb;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-body .banner-tiles-container .banner-tile-content-value {
  margin-top: 8px;
  height: 40px;
  font-size: 28px;
  color: #fff8e8;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-body .banner-tiles-container .max {
  margin-top: 2px;
  margin-bottom: 6px;
  color: #ffeab8;
  text-shadow: inset 2px 2px 2px black;
}
.aranthoz .actor-sheet .banner-container .sheet-banner .banner-body .banner-tiles-container .banner-tile-content-label {
  font-size: 11px;
  color: #dfcfb1;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}
.aranthoz .actor-sheet .sheet-main {
  width: 100%;
  min-width: 600px;
  height: 100%;
  /*background-color: rgb(51, 90, 173);*/
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aranthoz .actor-sheet .body-nav {
  margin-top: 20px;
  flex: 0 0 60px;
  background-image: url(../assets/banner/banner-body.png);
  background-size: 1000px;
  min-width: 550px;
  background-position: center;
  box-shadow: inset 0px 0px 20px #000000cb;
  box-shadow: 0px 3px 8px #000000cb;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aranthoz .actor-sheet .body-nav .nav-link {
  text-align: center;
  margin-left: 18px;
  margin-right: 18px;
  color: #fff8e8;
  font-size: 18px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}
.aranthoz .actor-sheet .body-nav .active {
  text-decoration: underline;
}
.aranthoz .actor-sheet .sheet-body {
  flex: 1 0px;
  background-color: rgba(240, 248, 255, 0);
  width: 90%;
  border: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}
.aranthoz .actor-sheet .content {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.aranthoz .actor-sheet .portrait-column {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aranthoz .actor-sheet .heritage-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.aranthoz .actor-sheet .physical-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.aranthoz .actor-sheet .section-divider {
  height: 40px;
  width: 100%;
  background-size: 100% 37px;
  background-repeat: no-repeat;
}
.aranthoz .actor-sheet .character-label {
  color: #63160c;
  font-weight: 700;
}
.aranthoz .actor-sheet .basic-input {
  padding-left: 7px;
  width: 100%;
  background-color: rgba(161, 144, 124, 0.215);
  box-shadow: 0px 2px 0px rgba(88, 13, 4, 0.426);
  color: #282828;
  border-radius: 1px;
  text-align: left;
  font-size: 18px;
}
.aranthoz .actor-sheet .basic-input:focus {
  box-shadow: 0px 2px 0px rgba(88, 12, 4, 0.79);
}
.aranthoz .actor-sheet .inline-input {
  width: 100%;
  box-shadow: 0px 2px 0px rgba(88, 13, 4, 0.426);
  color: #272727;
  border-radius: 1px;
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
}
.aranthoz .actor-sheet .inline-input:focus {
  box-shadow: 0px 2px 0px rgba(88, 12, 4, 0.79);
}
.aranthoz .actor-sheet .basic-select {
  width: 100%;
  height: 35px;
  background-color: rgba(161, 144, 124, 0.215);
  box-shadow: 0px 2px 0px rgba(88, 13, 4, 0.426);
  color: #282828;
  border-radius: 1px;
  border: none;
  text-align: left;
  font-size: 18px;
}
.aranthoz .actor-sheet .description {
  display: block;
  width: 100%;
  overflow: visible;
}
.aranthoz .actor-sheet .description .editor {
  height: 100%;
  min-height: 70px;
  width: 100%;
  overflow: visible;
}
.aranthoz .actor-sheet .description .editor-content {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.aranthoz .actor-sheet .item-tables,
.aranthoz .item-sheet .item-tables {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aranthoz .actor-sheet .item-table,
.aranthoz .item-sheet .item-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aranthoz .actor-sheet .item-table .header,
.aranthoz .item-sheet .item-table .header {
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  /* background-image: url(./assets/banner_vertical_stacked2.png);
                background-size: 130%;
                background-position: center; */
  background-color: #ffffff85;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aranthoz .actor-sheet .item-table .header .header-label,
.aranthoz .item-sheet .item-table .header .header-label {
  color: #353535;
  font-size: 20px;
  flex: 1;
  text-align: center;
}
.aranthoz .actor-sheet .item-table .header .header-controls,
.aranthoz .item-sheet .item-table .header .header-controls {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: visible;
}
.aranthoz .actor-sheet .item-table .header .header-controls .add,
.aranthoz .item-sheet .item-table .header .header-controls .add,
.aranthoz .actor-sheet .item-table .header .header-controls .delete,
.aranthoz .item-sheet .item-table .header .header-controls .delete {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.aranthoz .actor-sheet .item-table .header .header-controls .add i,
.aranthoz .item-sheet .item-table .header .header-controls .add i,
.aranthoz .actor-sheet .item-table .header .header-controls .delete i,
.aranthoz .item-sheet .item-table .header .header-controls .delete i {
  transition: 0.1s;
}
.aranthoz .actor-sheet .item-table .header .header-controls .add .bg,
.aranthoz .item-sheet .item-table .header .header-controls .add .bg,
.aranthoz .actor-sheet .item-table .header .header-controls .delete .bg,
.aranthoz .item-sheet .item-table .header .header-controls .delete .bg {
  z-index: -1;
  height: 100%;
  width: 32px;
  position: absolute;
  transition: 0.2s ease-out;
}
.aranthoz .actor-sheet .item-table .header .header-controls .add .bg::before,
.aranthoz .item-sheet .item-table .header .header-controls .add .bg::before,
.aranthoz .actor-sheet .item-table .header .header-controls .delete .bg::before,
.aranthoz .item-sheet .item-table .header .header-controls .delete .bg::before {
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #63160cd8;
}
.aranthoz .actor-sheet .item-table .header .header-controls .add,
.aranthoz .item-sheet .item-table .header .header-controls .add {
  transform: translateX(-7px);
}
.aranthoz .actor-sheet .item-table .header .header-controls .add .bg,
.aranthoz .item-sheet .item-table .header .header-controls .add .bg {
  transform: translateX(-32px);
}
.aranthoz .actor-sheet .item-table .header .header-controls .delete,
.aranthoz .item-sheet .item-table .header .header-controls .delete {
  margin-left: auto;
  transform: translateX(7px);
}
.aranthoz .actor-sheet .item-table .header .header-controls .delete .bg,
.aranthoz .item-sheet .item-table .header .header-controls .delete .bg {
  transform: translateX(32px);
}
.aranthoz .actor-sheet .item-table .header .header-controls .add:hover .bg,
.aranthoz .item-sheet .item-table .header .header-controls .add:hover .bg,
.aranthoz .actor-sheet .item-table .header .header-controls .delete:hover .bg,
.aranthoz .item-sheet .item-table .header .header-controls .delete:hover .bg {
  transform: translateX(0px);
}
.aranthoz .actor-sheet .item-table .header .header-controls .add:hover i,
.aranthoz .item-sheet .item-table .header .header-controls .add:hover i,
.aranthoz .actor-sheet .item-table .header .header-controls .delete:hover i,
.aranthoz .item-sheet .item-table .header .header-controls .delete:hover i {
  color: #fdfbf4;
}
.aranthoz .actor-sheet .item-table .item-list,
.aranthoz .item-sheet .item-table .item-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.aranthoz .actor-sheet .item-table .item-list .item,
.aranthoz .item-sheet .item-table .item-list .item {
  background-color: rgba(161, 144, 124, 0.215);
  box-shadow: 0px 2px 0px #9a7774;
  height: 37px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info {
  align-items: center;
  flex: 1;
  display: flex;
  gap: 10px;
}
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info .name-input,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info .name-input,
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info .value-input,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info .value-input,
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info .key-input,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info .key-input {
  height: 100%;
  color: #282828;
  font-size: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info .name-input,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info .name-input {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info .value-input,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info .value-input {
  width: 20%;
  min-width: 55px;
}
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info .key-input,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info .key-input {
  width: 30%;
  min-width: 80px;
}
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info .value-input,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info .value-input,
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info .key-input,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info .key-input {
  background-color: rgba(161, 144, 124, 0.215);
  text-align: center;
}
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info input:focus::placeholder,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info input:focus::placeholder {
  color: #e2e0d9;
}
.aranthoz .actor-sheet .item-table .item-list .item .attribute-info input:focus,
.aranthoz .item-sheet .item-table .item-list .item .attribute-info input:focus {
  color: #fdfbf4;
  background-color: #63160cbe;
}
.aranthoz .actor-sheet .item-table .item-list .item .item-info,
.aranthoz .item-sheet .item-table .item-list .item .item-info {
  align-items: center;
  flex: 1;
  display: flex;
}
.aranthoz .actor-sheet .item-table .item-list .item .item-info img,
.aranthoz .item-sheet .item-table .item-list .item .item-info img {
  border: none;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  height: 100%;
}
.aranthoz .actor-sheet .item-table .item-list .item .item-info .item-name,
.aranthoz .item-sheet .item-table .item-list .item .item-info .item-name {
  height: 100%;
  margin: 0;
  flex: 1;
  padding-left: 10px;
  color: #282828;
  text-align: left;
  font-size: 20px;
  margin-right: 5px;
}
.aranthoz .actor-sheet .item-table .item-list .item .roll-svg,
.aranthoz .item-sheet .item-table .item-list .item .roll-svg {
  fill: #63160c;
}
.aranthoz .actor-sheet .item-table .item-list .item .roll-svg:hover,
.aranthoz .item-sheet .item-table .item-list .item .roll-svg:hover {
  animation: rollingDice 0.8s infinite ease-in-out;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}
@keyframes rollingDice {
  from {
    tranform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aranthoz .actor-sheet .item-table .item-list .item .item-button,
.aranthoz .item-sheet .item-table .item-list .item .item-button {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 100%;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.aranthoz .actor-sheet .item-table .item-list .item .item-button:hover,
.aranthoz .item-sheet .item-table .item-list .item .item-button:hover {
  transition: 0.2s;
  background-color: rgba(107, 20, 10, 0.756);
  color: #fdfbf4;
}
.aranthoz .actor-sheet .item-table .item-list .item .roll-button,
.aranthoz .item-sheet .item-table .item-list .item .roll-button {
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aranthoz .actor-sheet .item-table .item-list .item .item-count,
.aranthoz .item-sheet .item-table .item-list .item .item-count {
  height: 100%;
  display: flex;
  gap: 10px;
}
.aranthoz .actor-sheet .item-table .item-list .item .item-count .count-button,
.aranthoz .item-sheet .item-table .item-list .item .item-count .count-button {
  background-color: rgba(161, 144, 124, 0.215);
  color: #282828;
  text-align: center;
  font-size: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 100%;
  width: 38px;
}
.aranthoz .actor-sheet .item-table .item-list .item .item-count .count-button:hover,
.aranthoz .item-sheet .item-table .item-list .item .item-count .count-button:hover {
  transition: 0.2s;
  background-color: rgba(107, 20, 10, 0.756);
  color: #fdfbf4;
}
.aranthoz .actor-sheet .item-table .item-list .item .item-count .count-display,
.aranthoz .item-sheet .item-table .item-list .item .item-count .count-display {
  background-color: rgba(161, 144, 124, 0.215);
  color: #282828;
  text-align: center;
  font-size: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 100%;
  min-width: 60px;
  padding-left: 6px;
  padding-right: 6px;
}
.aranthoz .actor-sheet .item-table .item-list .item:last-child:hover,
.aranthoz .item-sheet .item-table .item-list .item:last-child:hover {
  border-bottom-right-radius: 3px;
}
.aranthoz .actor-sheet .item-table .item-list .item:hover,
.aranthoz .item-sheet .item-table .item-list .item:hover {
  box-shadow: 0px 2px 0px #882115;
}
.aranthoz .actor-sheet .item-table .content-container,
.aranthoz .item-sheet .item-table .content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.aranthoz .actor-sheet .attribute-control .delete,
.aranthoz .item-sheet .attribute-control .delete {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aranthoz .actor-sheet .item-add-button,
.aranthoz .item-sheet .item-add-button {
  width: 60px;
  height: 30px;
  background-color: #ffffff85;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aranthoz .actor-sheet .add-group-button,
.aranthoz .item-sheet .add-group-button {
  color: #52120a;
  height: 30px;
  background-color: #ffffff85;
  display: flex;
  flex: 0;
  justify-content: center;
  align-items: center;
}
.aranthoz .item-sheet {
  min-width: 470px;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}
.aranthoz .item-sheet .dragbg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #141414b3;
  z-index: 10;
  backdrop-filter: blur(5px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 100px black;
}
.aranthoz .item-sheet .dragbg .drop-heading {
  font-size: 40px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: #fefaef;
  text-shadow: 2px 2px #272727;
}
.aranthoz .item-sheet .drag-over {
  display: flex;
}
.aranthoz .item-sheet .sheet-content {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.aranthoz .item-sheet .item-header {
  width: 100%;
  height: 120px;
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}
.aranthoz .item-sheet .item-header .img-container {
  height: 120px;
  width: 120px;
  flex: 0 0 120px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27272728;
  position: relative;
  z-index: 1;
}
.aranthoz .item-sheet .item-header .img-container .profile-img {
  width: 114px;
  height: 114px;
  border-style: none;
  position: absolute;
  max-width: unset;
  z-index: -1;
}
.aranthoz .item-sheet .item-header .nav-container {
  flex: 1;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aranthoz .item-sheet .item-header .nav-container .charname {
  width: 100%;
  height: 65px;
  background-color: #ffffff85;
  font-family: "Eczar", serif;
}
.aranthoz .item-sheet .item-header .nav-container .charname input {
  width: 100%;
  height: 100%;
  font-size: 30px;
}
.aranthoz .item-sheet .item-header .nav-container .item-nav {
  width: 100%;
  height: 45px;
  background-image: url(../assets/banner/banner-body.png);
  background-size: 1000px;
  background-position: center;
  box-shadow: 0px 0px 2px #000000cb;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.aranthoz .item-sheet .item-header .nav-container .item-nav .nav-link {
  text-align: center;
  margin-left: 18px;
  margin-right: 18px;
  color: #fff8e8;
  font-size: 16px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}
.aranthoz .item-sheet .item-header .nav-container .item-nav .active {
  color: #fefaef;
  text-decoration: underline;
}
.aranthoz .item-sheet .item-section {
  display: flex;
  flex-direction: column;
}
.aranthoz .item-sheet .item-section .section-heading {
  height: 38px;
  font-size: 20px;
  /* background-image: url(./assets/banner_vertical_stacked2.png);
                background-size: 130%;
                background-position: center; */
  background-color: #ffffff85;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.aranthoz .item-sheet .item-section .section-heading .heading-inline-input {
  flex: 1;
  text-align: left;
}
.aranthoz .item-sheet .item-section .section-body {
  flex: 0 0 auto;
  transform: translateY(-5px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: none;
  margin-inline: 10px;
  padding: 3px;
  padding-top: 10px;
  background-color: #d2d2d256;
}
.aranthoz .item-sheet .item-section .section-body .sequence {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.aranthoz .item-sheet .item-section .section-body .sequence .sequence-header {
  display: flex;
  font-size: 14px;
  color: #52120a;
  border-bottom: 1px solid #52120a;
}
.aranthoz .item-sheet .item-section .section-body .sequence-elements {
  width: 100%;
  height: 33px;
  border-radius: 3px;
  display: flex;
  gap: 10px;
}
.aranthoz .item-sheet .item-section .section-body .sequence-elements .composite-element {
  display: flex;
  flex: 0 0 auto;
  gap: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px -1px #1e1e1e6d;
}
.aranthoz .item-sheet .item-section .section-body .sequence-elements .element {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aranthoz .item-sheet .item-section .section-body .sequence-elements .composite-label {
  padding-inline: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ffffff85;
}
.aranthoz .item-sheet .item-section .section-body .sequence-elements .composite-select {
  border: none;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fffdf93c;
}
.aranthoz .item-sheet .item-section .section-body .properties-row {
  width: 100%;
  flex: 0 0 auto;
  transform: translateY(-5px);
  display: flex;
  gap: 25px;
  border-top: none;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .inline-text {
  margin-top: auto;
  margin-bottom: auto;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .composite-journal-button {
  display: flex;
  height: 32px;
  box-shadow: 0px 0px 3px -1px #1e1e1e6d;
  text-shadow: 0.5px 0.5px 0.5px #1e1e1e6d;
  border-radius: 3px;
  font-size: 18px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .composite-journal-button .open-journal-button {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  color: #fdfbf4;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .composite-journal-button .unlink-journal-button {
  display: flex;
  align-items: center;
  color: #fdfbf4;
  padding-inline: 5px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .composite-journal-button .open-journal-button-active {
  background-color: #841608b1;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .composite-journal-button .open-journal-button-inactive {
  background-color: #70332a9d;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .composite-journal-button .open-journal-button-active:hover {
  transition: 0.2s;
  background-color: #6b2a21d9;
  background-color: #531006c2;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .property-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 32px;
  padding-inline: 5px;
  border-radius: 3px;
  color: aliceblue;
  box-shadow: 0px 0px 3px -1px #1e1e1e6d;
  text-shadow: 0.5px 0.5px 0.5px #1e1e1e6d;
  font-size: 18px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .name {
  text-align: left;
  background-color: #0000000f;
  color: #272727;
  width: 200px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .multiple-property {
  display: flex;
  gap: 10px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .property-label {
  font-weight: bold;
  color: #63160c;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .labeled-property {
  padding-inline: 0px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .labeled-property .property-box {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .labeled-property .property-inline-label {
  color: #fdfbf4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-inline: 5px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .labeled-property .success {
  background-color: #0d710051;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .labeled-property .failure {
  background-color: #8e110090;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .item-rarity {
  border: none;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .legendary {
  background-color: #b4660080;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .epic {
  background-color: #7930a080;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .rare {
  background-color: #0355ba73;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .common {
  background-color: #7d7d7d80;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .item-type {
  text-align: center;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .weapon {
  background-color: #9d000051;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .skill {
  background-color: #c5310051;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .armor {
  background-color: #9b9b9b51;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .wearable {
  background-color: #009d8d51;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .ammunition {
  background-color: #9d510051;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .consumable {
  background-color: #129d0051;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .ingredient {
  background-color: #59009d51;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .document {
  background-color: #9d004151;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .misc {
  background-color: #9a9d0051;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .quantity {
  background-color: #0000000f;
  color: #272727;
  width: 70px;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .quantity-count {
  background-color: #0000000f;
  color: #272727;
  width: 32px;
  text-align: center;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .quantity-count:hover {
  background-color: #71180db4;
  color: #fdfbf4;
  transition: 0.2s;
}
.aranthoz .item-sheet .item-section .section-body .properties-row .property .stack {
  background-color: #0000000f;
  color: #272727;
}
.aranthoz .item-sheet .item-section .section-body .properties-row::before {
  content: "";
  position: absolute;
  top: 27px;
  width: 100%;
  border-bottom: 1px solid #70180c;
}
.aranthoz .item-sheet .properties {
  display: flex;
  flex-direction: column;
}
.aranthoz .item-sheet .properties-container::before {
  content: "";
  position: absolute;
  top: 27px;
  width: 100%;
  border-bottom: 1px solid #70180c;
}
.aranthoz .item-sheet .properties-container {
  overflow: hidden;
  flex: 0 0 auto;
  transform: translateY(-5px);
  display: flex;
  gap: 25px;
  border-top: none;
  margin-inline: 10px;
  padding: 3px;
  background-color: #d2d2d256;
}
.aranthoz .item-sheet .properties-container .property {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aranthoz .item-sheet .properties-container .property .inline-text {
  margin-top: auto;
  margin-bottom: auto;
}
.aranthoz .item-sheet .properties-container .property .composite-journal-button {
  display: flex;
  height: 32px;
  box-shadow: 0px 0px 3px -1px #1e1e1e6d;
  text-shadow: 0.5px 0.5px 0.5px #1e1e1e6d;
  font-size: 18px;
}
.aranthoz .item-sheet .properties-container .property .composite-journal-button .open-journal-button {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  color: #fdfbf4;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.aranthoz .item-sheet .properties-container .property .composite-journal-button .unlink-journal-button {
  display: flex;
  align-items: center;
  color: #fdfbf4;
  padding-inline: 5px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.aranthoz .item-sheet .properties-container .property .composite-journal-button .open-journal-button-active {
  background-color: #841608b1;
}
.aranthoz .item-sheet .properties-container .property .composite-journal-button .open-journal-button-inactive {
  background-color: #70332a9d;
}
.aranthoz .item-sheet .properties-container .property .composite-journal-button .open-journal-button-active:hover {
  transition: 0.2s;
  background-color: #6b2a21d9;
  background-color: #531006c2;
}
.aranthoz .item-sheet .properties-container .property .property-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 32px;
  padding-inline: 5px;
  border-radius: 3px;
  color: aliceblue;
  box-shadow: 0px 0px 3px -1px #1e1e1e6d;
  text-shadow: 0.5px 0.5px 0.5px #1e1e1e6d;
  font-size: 18px;
}
.aranthoz .item-sheet .properties-container .property .multiple-property {
  display: flex;
  gap: 10px;
}
.aranthoz .item-sheet .properties-container .property .property-label {
  color: #63160c;
}
.aranthoz .item-sheet .properties-container .property .labeled-property {
  padding-inline: 0px;
}
.aranthoz .item-sheet .properties-container .property .labeled-property .property-box {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
}
.aranthoz .item-sheet .properties-container .property .labeled-property .property-inline-label {
  color: #fdfbf4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-inline: 5px;
}
.aranthoz .item-sheet .properties-container .property .labeled-property .success {
  background-color: #0d710051;
}
.aranthoz .item-sheet .properties-container .property .labeled-property .failure {
  background-color: #8e110090;
}
.aranthoz .item-sheet .properties-container .property .item-rarity {
  border: none;
}
.aranthoz .item-sheet .properties-container .property .legendary {
  background-color: #b4660080;
}
.aranthoz .item-sheet .properties-container .property .epic {
  background-color: #7930a080;
}
.aranthoz .item-sheet .properties-container .property .rare {
  background-color: #0355ba73;
}
.aranthoz .item-sheet .properties-container .property .common {
  background-color: #7d7d7d80;
}
.aranthoz .item-sheet .properties-container .property .item-type {
  text-align: center;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aranthoz .item-sheet .properties-container .property .weapon {
  background-color: #9d000051;
}
.aranthoz .item-sheet .properties-container .property .skill {
  background-color: #c5310051;
}
.aranthoz .item-sheet .properties-container .property .armor {
  background-color: #9b9b9b51;
}
.aranthoz .item-sheet .properties-container .property .wearable {
  background-color: #009d8d51;
}
.aranthoz .item-sheet .properties-container .property .ammunition {
  background-color: #9d510051;
}
.aranthoz .item-sheet .properties-container .property .consumable {
  background-color: #129d0051;
}
.aranthoz .item-sheet .properties-container .property .ingredient {
  background-color: #59009d51;
}
.aranthoz .item-sheet .properties-container .property .document {
  background-color: #9d004151;
}
.aranthoz .item-sheet .properties-container .property .misc {
  background-color: #9a9d0051;
}
.aranthoz .item-sheet .properties-container .property .quantity {
  background-color: #0000000f;
  color: #272727;
  width: 70px;
}
.aranthoz .item-sheet .properties-container .property .quantity-count {
  background-color: #0000000f;
  color: #272727;
  width: 32px;
  text-align: center;
}
.aranthoz .item-sheet .properties-container .property .quantity-count:hover {
  background-color: #71180db4;
  color: #fdfbf4;
  transition: 0.2s;
}
.aranthoz .item-sheet .properties-container .property .stack {
  background-color: #0000000f;
  color: #272727;
}
.aranthoz .item-sheet .sheet-body {
  width: 100%;
  flex: 1 0px;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
}
.aranthoz .item-sheet .sheet-body .tab-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aranthoz .item-sheet .sheet-body .general {
  width: 100%;
  min-height: 150px;
}
.aranthoz .item-sheet .sheet-body .general .heading {
  height: 38px;
  font-size: 20px;
  /* background-image: url(./assets/banner_vertical_stacked2.png);
                    background-size: 130%;
                    background-position: center; */
  background-color: #ffffff85;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.aranthoz .item-sheet .sheet-body .general .description {
  display: block;
  overflow: visible;
}
.aranthoz .item-sheet .sheet-body .general .description .editor {
  margin-top: -17px;
  height: 100%;
  min-height: 70px;
  width: 100%;
  overflow: visible;
}
.aranthoz .item-sheet .sheet-body .general .description .editor .editor-menu {
  transform: translateY(10px);
}
.aranthoz .item-sheet .sheet-body .general .description .editor .editor-content {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: unset;
}
.aranthoz .item-sheet .sheet-body .general .options {
  width: 100%;
}
.aranthoz .item-sheet .sheet-body .general .options .option {
  font-size: 16px;
  width: 100%;
  background-color: rgba(161, 144, 124, 0.4);
  border-radius: 5px;
  height: 35px;
  display: flex;
  align-items: center;
}
.aranthoz .isDisabled {
  cursor: not-allowed;
  background-color: #272727;
}
.aranthoz .divider {
  height: 0px;
  border-top: 1.5px solid #895d00;
  margin-bottom: 10px;
}
.aranthoz .borderimg {
  border: 10px solid transparent;
  border-image: url(../assets/nav_borderimg.png) 12 round;
  box-shadow: 0px 0px 2px;
}
.aranthoz .borderimg-ne {
  box-shadow: 0px 0px 2px;
  border: 10px solid transparent;
  border-image: url(../assets/nav_borderimg_ne.png) 12 round;
}
.aranthoz .nohvr:hover {
  all: unset;
}
.aranthoz input {
  -moz-background-clip: text;
  background-clip: text;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  text-align: center;
  font-family: "Eczar";
  box-shadow: none;
}
.aranthoz input:focus {
  box-shadow: none;
}
.aranthoz .button:hover {
  cursor: pointer;
  user-select: none;
}
.aranthoz .selected {
  text-decoration: underline;
}
.aranthoz ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.aranthoz .journal-folder-list .option-label {
  padding-left: 10px;
  font-size: 16px;
}
.aranthoz .mgr-1 {
  margin-right: 9px;
}
.aranthoz .mt-2 {
  margin-top: 15px;
}
.aranthoz .ml-1 {
  margin-left: 9px;
}
.aranthoz .ml-a {
  margin-left: auto;
}
